<div class="flex flex-col w-full h-full px-4 py-2">
    <div class="bg-white p-2 border overflow-hidden flex flex-col justify-between h-full">
        <div>
            <div class="flex flex-row justify-between border-b-2 border-blue-800 text-2xl">
                 <h1 class="font-semibold">Happening Today</h1>
                 <p class="text-gray-400">{{ currentDate | date: 'MMMM'}} {{ currentDate.getDate() | ordinalPipe}}</p>
            </div>
            <ul class="text-lg break-words">
                @for (plan of todaysPlan().slice(0, 5); track plan) {
                    <li class="flex flex-row items-center gap-4 h-full">
                        @if (plan.completed) { <fa-icon class="text-sm mt-0.5" [icon]="faCheckCircle"></fa-icon> }
                        @else { <fa-icon class="text-sm mt-0.5" [icon]="faCheckCircleRegular"></fa-icon> }
                        <p class="">{{ plan.title }}</p>
                    </li>
                }
            </ul>
        </div>
        @if (todaysPlan().length === 0) {
            <div class="flex items-center justify-center w-full h-full">
                <p class="text-2xl text-gray-400 text-center">No plans added for today.<br  />Get started by adding one below.</p>
            </div>  
        }
        <button (click)="toggleViewToday()" class="blue-btn">{{ todaysPlanButtonText }}</button>
    </div>
</div>