<div class="w-full h-full flex items-center justify-center">
    <div class="border w-[90%] h-[90%] shadow-sm">
        <div class="border flex items-center justify-center h-[8%]">
            <select class="text-3xl bg-white text-center border-b-2 border-blue-800/0 hover:border-blue-800 cursor-pointer duration-500">
                @for (month of months; track month) {
                    <option class="text-xl">{{ month }}</option>
                }
            </select>
        </div>
        <div class="border flex items-center justify-center h-[5%] w-full">
            <ul class="grid grid-cols-7 text-center w-full">
                @for (day of daysOfWeek; track day) {
                    <li>{{ day }}</li>
                }
            </ul>
        </div>
        <div class="border h-[87%]">
            <ul class="grid grid-cols-7 grid-rows-6 h-full w-full">
                @for (day of days; track day) {
                    <li class="border p-2 hover:bg-blue-800 hover:text-white duration-500 cursor-pointer select-none">{{ day }}</li>
                }
            </ul>
        </div>
    </div>
</div>
