<div class="flex flex-col w-full h-full px-4 py-2">
    <div class="group flex flex-col justify-between bg-white p-2 border h-full">
        <div>
            <div class=" flex flex-row gap-2 border-b-2 border-blue-800 items-center">
                <div class="flex gap-1">
                    <fa-icon [icon]="faCalendarChecked"></fa-icon>
                    <h1 class="font-semibold ">Coming Up</h1>
                </div>
                <p class="group-hover:opacity-100 opacity-0 text-gray-400 text-sm">Next 5 scheduled days after {{ tomorrowDate | date: 'MMMM'}} {{ tomorrowDate.getDate() | ordinalPipe}}</p>
            </div>
            <ul class="flex flex-col gap-1 list-disc list-inside break-words mt-1">
                @for (block of dateBlocks().slice(0, 5); track block) {
                    <li (click)="onViewPlan(block.month, block.date)" class="flex flex-row justify-between items-center border bg-gray-100 hover:bg-gray-200 p-2 cursor-pointer">
                        <div class="flex flex-row gap-1">
                            <p class="font-semibold">{{ months[block.month] }} {{ block.date | ordinalPipe }}:</p>
                            @for (plan of block.plans.slice(0, 5); track plan.id) {
                                <p> {{ plan.title }}{{ $index < block.plans.length - 1 ? ', ' : ' ' }} </p>
                            }
                            @if (block.plans.length >= 5 ) {
                                <p>& more</p>
                            }
                        </div>
                    </li>
                } 
                
            </ul>
            @if (dateBlocks().length === 0) {
                <div class="flex items-center justify-center w-full h-full">
                    <p class="text-gray-400 text-center">No scheduled plans coming up</p>
                </div>  
            }
        </div>
    </div>
    
</div>